SoundFile
munch
pydub
pyyaml
librosa
gruut
nltk
matplotlib
accelerate
wandb
mlflow
transformers==4.41.0
einops
einops-exts
tqdm
typing
typing-extensions
tensorboard
numpy==1.26.4
python-dotenv
vinorm
git+https://github.com/resemble-ai/monotonic_align.git
